.main{
 
    padding:3.98rem !important;
    .main-top{
        display:flex !important;
        justify-content: flex-start;
        align-items: baseline;
        margin-top:2rem;
        position:fixed !important;
        

        .main-input{
            border:none !important;
            border-bottom:1px solid black !important;
            text-decoration: none;
            margin-left:10px !important;
            &:focus {
                outline: none;
            }
        }

        .main-submit-button {
            background: #373A3B;
            border-radius: 3px;
            color:#FFFFFF;
            margin-left: 10px !important;
            cursor:pointer;
            width:67px;
            height:22px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            border:none !important;
                    }

        .loading-icon {
        margin-left:1.3rem;
       
        }

        .main-header{
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 33px;
            /* identical to box height */
            color: #707090;
            margin-right: 10px;
        }
    }
    
    .main-page{
    display: inline-flex;
    margin-top:5rem;
    overflow-x: scroll !important;
    overflow-x: hidden !important;
}}